.gif {
    width:150px;
    height:200px;
}

.animated_gif {
    width:150px;
    height:200px;
}

.jpg {
    width:150px;
    height:200px;
}

.png {
    width:150px;
    height:200px;
}

.animated_png {
    width:150px;
    height:200px;
}